body {
  margin: 0px;
  padding: 0px;
  background: #303030;
  color: #ffffff;
}
.styleselect {
  margin: 20px;
}
select {
  background: #303030;
  color: #ffffff;
  height: 40px;
  width: 200px;
}
center {
  text-align: center;
  padding-top: 70px;
}
h1{
  color: #226E93;
  font-family: Lato, sans-serif;
  font-size: 34pt;
  font-weight: 300;
}
a {
  color: #67c5ff;
  text-decoration: none;
  padding: 1px;
  transition: .4s;
}
a:hover {
  color: #555566;
}
a:active {
  background: #67c5ff;
}
.searchboxset {
  display: block;
  text-align: center;
  margin: 5px 5px 5px 5px;
}
form{
  display: inline-block;
  margin: 0px;
}
#keywords{
  display: inline-block;
  height: 40px;
  width: 400px;
  background: #303030;
  color: #d0d0d0;
  padding: 0 0 0 15px;
  border-radius: 20px 0 0 20px;
  border: solid 1px #606060;
  margin: 0px;
}
::placeholdaer {
  color: #a0a0a0;
}
#keywords:hover{
  background-color: #606060;
}
#keywords:focus{
  background-color: #d0d0d0;
  color: #000000;
  outline: none
}
.buttonset {
  display: inline-block;
  margin: 0px;
}
button {
  display: inline-block;
  height: 40px;
  background: #303030;
  color: #67c5ff;
  border: solid 1px #67c5ff;
  transition: .4s;
}
button:hover {
  background: #505060;
  color: #66eeff;
}
button:active {
  background: #67c5ff;
}
.google{
  border-radius: 0px;
  width: 90px;
}
.yahoo{
  border-radius: 0px;
  width: 90px;
}
.bing{
  border-radius: 0 20px 20px 0;
  width: 90px;
}
#setstyle {
  height: 40px;
  width: 80px;
}

@media screen and (max-width: 701px) {
  .searchboxset {
    text-align: center;
  }
  #keywords,form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    margin: 5px;
  }
  .buttonset {
    display: block;
    margin: 5px;
  }
  .google {
    border-radius: 20px 0 0 20px;
  }
}
