body {
    background: #303030;
    color: #ffffff;
}

h1{
    color: #2f98cc;
}
a {
    color: #1d9bf0;
}
a:hover {
    color: #41b6da;
}
a:active {
    color: #279cc0;
}

input,select {
    background: #303030;
    color: #d0d0d0;
    border: solid 1px #909090;
}
::placeholdaer {
  color: #a0a0a0;
}
input:hover {
    background: #606060;
}
input:focus {
    background: #d0d0d0;
    color: #000000;
}
select:hover {
    background: #606060;
}
button {
    background: #1d9bf0;
    color: #ffffff;
}
button:hover {
    background: #41b6da;
}
button:active {
    background: #279cc0;
}