body {
    background: #ffffff;
    color: #000000;
    text-align: center;
}

h1{
    color: #226E93;
    font-family: Lato, sans-serif;
    font-size: 34pt;
    font-weight: 300;
}
a {
    color: #2bb1da;
    text-decoration: underline;
}
a:hover {
    color: #41b6da;
}
a:active {
    color: #279cc0;
}
.container {
    display: block;
}

div {
    display: block;
}
p.formtitle {
    padding: 0px;
    margin: 0px;
}
form {
  display: inline-block;
}
input,textarea{
    display: inline-block;
    width: 600px;
    background: #ffffff;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 5px 5px 5px 15px;
    border: solid 1px #000000;
}
textarea{
    height: 100px;
}
input[type="url"]{
    height: 40px;
}
input:hover {
    background: #e0ffff;
}
input:focus {
    background: #d0eeff;
    outline: none;
}
button {
    height: 50px;
    width: 300px;
    background: #2bb1da;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin: 10px 5px 5px 5px;
}
button:hover {
    background: #41b6da;
}
button:active {
    background: #279cc0;
}

@media screen and (max-width: 650px) {
    .container {
        text-align: center;
      }
      input,textarea{
        display: flex;
        width: 90vw;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        border-radius: 5px;
        margin: 5px;
      }
}

@media(prefers-color-scheme: dark){
    body {
        background: #303030;
        color: #ffffff;
    }

    h1{
        color: #48b0e4;
    }
    a {
        color: #1d9bf0;
    }
    a:hover {
        color: #41b6da;
    }
    a:active {
        color: #279cc0;
    }

    input,textarea{
        background: #303030;
        color: #d0d0d0;
        border: solid 1px #909090;
    }
    ::placeholdaer {
    color: #a0a0a0;
    }
    input:hover{
        background: #606060;
    }
    textarea:hover{
        background: #606060;
    }
    input:focus{
        background: #d0d0d0;
        color: #000000;
    }
    textarea:focus{
        background: #d0d0d0;
        color: #000000;
    }
    button {
        background: #1d9bf0;
        color: #ffffff;
    }
    button:hover {
        background: #41b6da;
    }
    button:active {
        background: #279cc0;
    }
}
