body{
    text-align: center;
    color: #fafafa;
    background: #0e1117;
}
.main{
    width: 700px;
    margin: 0 calc(50% - 350px) 0 calc(50% - 350px);
}
h1{}
.discription{
    text-align: left;
    background: #0c2216;
    border: 1px solid #113f27;
    border-radius: 5px;
    padding: 3px;
}
.discription p{
    margin: 10px;
    color: #34c385;
}
a{
    color: #65a1f4;
    text-decoration: none;
}
details{
    margin:10px;
}
summary{
    cursor: pointer; 
}
.inputbox{
    margin:20px 0 0 0;
    padding:0;
}
#form{
    display: inline-block;
    margin:5px 0 5px 0;
    padding:15px;
    width: calc(95% - 60px);
    border-radius: 5px;
    border: 0;
    background: #262730;
    color: #fafafa;
}
#form:hover{
    background: #32343f;
}
#form:focus{
    background: #32343f;
    outline: 2px solid #4977f6;
}
::placeholder{
    color: #a5a6a9;
}
#button{
    display: inline-block;
    background: #247345;
    color: #fafafa;
    padding:15px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}
#button:hover{
    background: #348355;
}
#button:focus{
    background: #146335;
}
.videobox{
    margin: 10px 0 10px 0;
}
noscript p{
    font-size: 200%;
}
.video{
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 750px){
    .main{
        width: calc(100% - 6px);
        margin: 0 3px 0 3px;
    }
    #form{
        width: 100%;
    }
    #button{
        width: 100%;
        padding: 10px;
    }
}